@model IEnumerable<JitivSounds.Models.Link>

@{
    ViewData["Title"] = "Index";
}

<h2>Links</h2>

<p>
    <button id="btnCreateModal" type="button"
            class="btn btn-primary btn-create">
        Add Link
    </button>

</p>
<div class="table-responsive">
    <table class="table table-striped table-dark">

        <thead>
            <tr>
                <th scope="col">Miniaturka</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Reakcja</th>
                <th scope="col">Usuń</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="video-row" id="linkid" data-id="@item.Id">
                    <td>
                        <p id="thumbnail-@item.Id"></p>
                    </td>
                    <td>
                        <h4 id="yttitle-@item.Id"></h4>
                        <a class="text-left" id="ytlink-@item.Id" href="@item.Linkyt">Link</a>
                    </td>
                    <td>
                        <p>
                            <button type="submit" id="like-@item.Id" class="btn btn-success btn-sm like" data-value="true" data-id="@item.Id">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span class="like-count-@item.Id">@item.LinkRates.Count(x => x.Like)</span>
                            </button>
                            <button type="submit" id="dislike-@item.Id" class="btn btn-danger btn-sm dislike" data-value="false" data-id="@item.Id">
                                <span class="glyphicon glyphicon-thumbs-down"></span>
                                <span class="dislike-count-@item.Id">@item.LinkRates.Count(x => !x.Like)</span>
                            </button>
                        </p>
                        <p>
                            <button class="btn btn-info" id="info" data-html="true" data-toggle="tooltip" data-placement="left" title="Dodany: @item.DateCreated <br />Przez: @item.User?.UserName <br />Grane:@item.Counter <br />">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>
                        </p>
                    </td>
                    <td>
                        <p>
                            <button type="button" class="btn-sm btn-warning btn-delete" data-id="@item.Id">
                                <span class="glyphicon glyphicon-erase"></span>
                            </button>
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-notify" role="document">
        <div class="modal-content panel-warning">

        </div>
    </div>
</div>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-notify" role="document">
        <div class="modal-content panel-warning">

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/LinkOptions.js"></script>
    <script src="~/js/Rating.js"></script>
    <script src="~/js/YoutubeTT.js"></script>
}