@model IEnumerable<JitivSounds.Models.Link>

@{
    ViewData["Title"] = "Index";
}

<h2>Links</h2>

<p>
    <button id="btnCreateModal" type="button"
            class="btn btn-primary btn-create">
        Add Link
    </button>

</p>
<hr />


<div>    
    @foreach (var item in Model)
    {
        <div class="row video-row" id="linkid" data-id="@item.Id">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
                <p>@item.DateCreated</p>
                <p id="thumbnail-@item.Id"></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a id="ytlink-@item.Id" href="@item.Linkyt" >Link</a>
                <p id="yttitle-@item.Id"></p>
                <p>@item.User?.UserName</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <p>
                    <button type="submit" id="like-@item.Id"  class="btn btn-success btn-sm like @(item.LinkRates.Any(x => x.UserId == User.GetUserId())?"disabled":"")" data-value="true" data-id="@item.Id">
                        <span class="glyphicon glyphicon-thumbs-up"></span>@item.LinkRates.Count(x => x.Like)
                    </button>
                    <button type="submit" id="dislike-@item.Id" class="btn btn-danger btn-sm dislike @(item.LinkRates.Any(x => x.UserId == User.GetUserId())?"disabled":"")" data-value="false" data-id="@item.Id">
                        <span class="glyphicon glyphicon-thumbs-down"></span>@item.LinkRates.Count(x => !x.Like)
                    </button>
                </p>
                <p>@item.Counter</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>
                    <button type="button" class="btn-sm btn-warning btn-delete" value="false">
                        <span class="glyphicon glyphicon-erase"></span>
                    </button>
                </p>
                <p>@item.LastPlayed</p>
            </div>            
        </div>
    }
</div>




<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-notify" role="document">
        <div class="modal-content panel-warning">

        </div>
    </div>
</div>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-notify" role="document">
        <div class="modal-content panel-warning">

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/LinkOptions.js"></script>
    <script src="~/js/Rating.js"></script>
    <script src="~/js/YoutubeTT.js"></script>
}